services:
  # --- BASE DE DONNÉES ---
  db:
    image: postgres:16-alpine
    env_file:
      - ./.env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - default

  # --- BACKEND (API) ---
  backend:
    build:
      context: ./backend
    env_file:
      - ./.env.prod
    volumes:
      - ./backend:/home/appuser/backend
    depends_on:
      db:
        condition: service_started
    networks:
      - reseau-web # Pour être accessible par le Proxy (api.jymbro.fr)
      - default # Pour parler à la DB

  # --- FRONTEND (Site Web) ---
  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: ${VITE_API_URL}
    image: thomascml/gym-app-frontend
    container_name: gym_frontend
    depends_on:
      backend:
        condition: service_started
    networks:
      - reseau-web # Pour être accessible par le Proxy (jymbro.fr)
      - default

volumes:
  postgres_data:
    driver: local

networks:
  reseau-web:
    external: true
