/* src/assets/main.css */

:root {
  /* --variable-name: value; */
  --color-background: #101922;
  --color-accent: #1173d4;
  --complementary-color: #f5a623;

  /* You can add other global variables here */
  --font-family-main: 'Quicksand', sans-serif;
  --font-family-secondary: 'Bungee', 'sans-serif';
  --color-text: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-main);
}

.slide-up-enter-active {
  transition: all 0.2s ease-out;
}
.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(300px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
